<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>
    <%=locals.pageTitle%>
  </title>
  <link rel="icon" href="/static/media/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/styles.css">
  <script async defer src="/static/js/index.js"></script>

  <link rel="stylesheet" href="/static/css/games.css">
  <script async defer src="/static/js/games/games_setup.js"></script>
</head>

<body>
  <div id="header">
    <nav>
      <a href="/" class="nav-link <%= locals.page == 'home' ? 'active' : '' %>">HOME</a>
      <a href="/about" class="nav-link <%= locals.page == 'about' ? 'active' : '' %>">ABOUT</a>
      <a href="/games" class="nav-link <%= locals.page == 'games' ? 'active' : '' %>">GAMES</a>
      <input id="signout_button" type="submit" value="Sign out">
    </nav>

    <% if (locals.flashMessages) { %>
    <ul>
      <% Object.values(locals.flashMessages).forEach(function(fm){ %>
        <li><%= fm %></li>
      <% }); %>
    </ul>
    <% } %>
  </div>

  <div id="root">
    <%- include(`pages/${locals.page}`, { ...locals.data }) %>
  </div>

  <div id="footer"></div>
</body>

</html>