
<%- include('../partials/head', { pageTitle: 'Games', ...locals }) %>

<link rel="stylesheet" href="/static/css/games.css">
<script async defer src="/static/js/games/games_setup.js"></script>
<script async defer src="/static/js/games/game.0.js"></script>
<script async defer src="/static/js/games/game.1.js"></script>
<script async defer src="/static/js/games/game.2.js"></script>

<%- include('../partials/header', { page: 'games', ...locals }) %>

<div id="root">
    <div id="games">
        <div class="games-container">
            <!-- let games = Array.from({length: 9}, (_, i) => ({id: i, name: 'Banana', highScore: 50})) %> -->
            <% locals.games.forEach(game => { %>
                <div class="game-container">
                    <img src="/static/media/goldcup.svg" class="game-img" game_id="<%= game.id %>">
                    <span class="game-prop game-name"><%= game.name %></span>
                    <span class="game-prop game-high-score">High score: <%= game.hScore %> </span>
                </div>
            <% }) %>
        </div>
    
        <div id="playground">
            <div class="playground-content">
                <span class="close">&times;</span>
                <canvas id="game-canvas" width="600px" height="600px"></canvas>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>